.container{
    font-family: dirooz;
    width: 1200px;
    margin:auto;
    height: 260px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    border-radius: 17px;
    background-color: rgb(240, 202, 245);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    /* border: 1px solid black; */
    height: 80px;
}
.social{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.tamas{
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
}
.ul{
    list-style: none;
    direction: rtl;
    line-height: 30px;
}